.Background {
	background-image: url('Background.jpg');
}
h3 {
	margin-left: 10px;
	color: #ff0905;
	font-style: italic;
}
#text__box{
	background-color: #faa191;
	border-radius: 20px;
	border-color: #ff0905;
	font-size: 40px;
	width: 60%
}
#create__button {
	background-color: #f0c7a3;
	border-radius: 5px;
	border-color: black;
	font-size: 40px;
	color: #3bff05;
}
#options__button {
	background-color: #f0c7a3;
	border-radius: 5px;
	border-color: black;
	font-size: 40px;
}
div{
	font-style: italic;
	font-weight: 200;
	font-size: 30px;
}
div shoppingList{
	width: 35%;
	padding: 5px 0px 30px 5px;
	margin: 10px 0px 0px 0px;
	background-color: #f59300;
	font-size: 30px;
	font-weight: 200;
	border: 2px;
	display: flex;
	justify-content: space-between;
}
shoppingList.value{
	width: 40%;
	padding: 5px;
	border: 2px solid orange;
	border-radius: 5px;
}
