body{
    margin: 0;
    padding: 0;
}

#container {
    background-image: url("https://images.pexels.com/photos/220076/pexels-photo-220076.jpeg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

input{
    width: 25%;
    padding: .5em;
}

#shoppingListNote{
    margin: 0 auto;
    max-width: 700px;;
}